@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%)
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Spartan", sans-serif;
}

.social-proof-section {
    background: url("/img/bg-pattern-top-desktop.svg") top left no-repeat, 
    url("/img/bg-pattern-bottom-desktop.svg") bottom right no-repeat,
    var(--white);
    min-height: 100vh;
    font-size: 1.5rem;
}

.social-proof-component {
    width: 80%;
    margin: 0 auto;
}

.social-proof-upper {
    display: flex;
}