@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%)
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Spartan", sans-serif;
}



.social-proof-section {
    background: url("/img/bg-pattern-top-desktop.svg") top left no-repeat, 
    url("/img/bg-pattern-bottom-desktop.svg") bottom right no-repeat,
    var(--white);
    min-height: 100vh;
    font-size: 1.5rem;

    color: var(--very-dark-magenta);
    display: flex;
    align-items: center;
}

.social-proof-section h2 {
    font-size: 5rem;
    font-weight: 700;
}

.social-proof-component {
    width: 80%;
    margin: 0 auto;
}

.social-proof-upper {
    display: flex;
    margin-bottom: 4em;
}

.social-proof-content {
    width: 50%;
    padding-right: 8%;
}

.social-proof-ratings {
    width: 50%;
}

.social-proof-rating:nth-child(1) {
    margin-left: 0em;
}
.social-proof-rating:nth-child(2) {
    margin-left: 2em;
}
.social-proof-rating:nth-child(3) {
    margin-left: 4em;
}

.social-proof-rating {
    background-color: var(--light-grayish-magenta);
    margin: 1rem auto 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: 700;
}

.social-proof-lower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.social-proof-review {
    background-color: var(--very-dark-magenta);
    color: var(--white);

    padding: 4rem;
    border-radius: 10px;
    height: 250px;
}

.social-proof-review:nth-child(1) {
    margin-top: 0em;
}

.social-proof-review:nth-child(2) {
    margin-top: 2em;
}

.social-proof-review:nth-child(3) {
    margin-top: 4em;
}

.social-proof-portrait {
    display: flex;
    margin-bottom: 2rem;
}

.social-proof-portrait div {
    flex-grow: 1;
}

.social-proof-portrait img {
    border-radius: 50%;
    width: 64px;
    margin-right: 15px;
}

.social-proof-user-title {
    color: var(--soft-pink)
}